<div class="content">
    <div class="material">
        <div class="heros">
            <div class="item">
                <img src="images/hero_icon/icon-bastion.png" alt="" />
            </div>
            <div class="item">
                <img src="images/hero_icon/icon-dva.png" alt="" />
            </div>
            <div class="item">
                <img src="images/hero_icon/icon-frost.png" alt="" />
            </div>
            <div class="item">
                <img src="images/hero_icon/icon-genji.png" alt="" />
            </div>
        </div>
    </div>
</div>
