<div class="content">
    <div class="material">
        <div class="heros">
            <div class="box-hd">
                <h3 class="title">英雄详解</h3>
            </div>
            <ul>
                <li><img src="/images/hero_icon/icon-bastion.png" alt="" /><div class="name">bastion</div></li>
                <li><img src="/images/hero_icon/icon-lucio.png" alt="" /><div class="name">lucio</div></li>
                <li><img src="/images/hero_icon/icon-roadhog.png" alt="" /><div class="name">roadhog</div></li>
                <li><img src="/images/hero_icon/icon-winston.png" alt="" /><div class="name">winston</div></li>
                <li><img src="/images/hero_icon/icon-dva.png" alt="" /><div class="name">dva</div></li>
                <li><img src="/images/hero_icon/icon-mccree.png" alt="" /><div class="name">mccree</div></li>
                <li><img src="/images/hero_icon/icon-soldier-76.png" alt="" /><div class="name">76-hao</div></li>
                <li><img src="/images/hero_icon/icon-zarya.png" alt="" /><div class="name">zarya</div></li>
                <li><img src="/images/hero_icon/icon-frost.png" alt="" /><div class="name">frost</div></li>
                <li><img src="/images/hero_icon/icon-mercy.png" alt="" /><div class="name">mercy</div></li>
                <li><img src="/images/hero_icon/icon-symmetra.png" alt="" /><div class="name">symmetra</div></li>
                <li><img src="/images/hero_icon/icon-zenyatta.png" alt="" /><div class="name">zenyatta</div></li>
                <li><img src="/images/hero_icon/icon-genji.png" alt="" /><div class="name">genji</div></li>
                <li><img src="/images/hero_icon/icon-pharah.png" alt="" /><div class="name">pharah</div></li>
                <li><img src="/images/hero_icon/icon-torbjorn.png" alt="" /><div class="name">torbjorn</div></li>
                <li><img src="/images/hero_icon/icon-hanzo.png" alt="" /><div class="name">hanzo</div></li>
                <li><img src="/images/hero_icon/icon-reaper.png" alt="" /><div class="name">reaper</div></li>
                <li><img src="/images/hero_icon/icon-tracer.png" alt="" /><div class="name">tracer</div></li>
                <li><img src="/images/hero_icon/icon-junkrat.png" alt="" /><div class="name">junkrat</div></li>
                <li><img src="/images/hero_icon/icon-reinhardt.png" alt="" /><div class="name">reinhardt</div></li>
                <li><img src="/images/hero_icon/icon-widowmaker.png" alt="" /><div class="name">widowmaker</div></li>
            </ul>
        </div>
    </div>
</div>
