<div class="content">
    <div class="material">
        <div class="left">
            <div class="maps box">
                <div class="box-hd">
                    <h3 class="title">地图介绍（血包点)</h3>
                </div>
                <ul>
                    <li><a href="/map/temple-of-anubis-thumb" target="_blank"><img src="/images/maps/temple-of-anubis-thumb.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">阿努比斯神殿</span></div></li>
                    <li><a href="/map/hanamura-thumb" target="_blank"><img src="/images/maps/hanamura-thumb.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">花村</span></div></li>
                    <li><a href="/map/volskaya-thumb" target="_blank"><img src="/images/maps/volskaya-thumb.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">沃斯卡娅工业区</span></div></li>
                    <li><a href="/map/gibraltar-thumb" target="_blank"><img src="/images/maps/gibraltar-thumb.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">监测站</span></div></li>
                    <li><a href="/map/dorado-thumb" target="_blank"><img src="/images/maps/dorado-thumb.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">多拉多</span></div></li>
                    <li><a href="/map/route-66-thumb" target="_blank"><img src="/images/maps/route-66-thumb.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">66号公路</span></div></li>
                    <li><a href="/map/lijiang-thumb" target="_blank"><img src="/images/maps/lijiang-thumb.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">漓江塔</span></div></li>
                    <li><a href="/map/ilios-thumb" target="_blank"><img src="/images/maps/ilios-thumb.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">伊利奥斯</span></div></li>
                    <li><a href="/map/nepal-thumb" target="_blank"><img src="/images/maps/nepal-thumb.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">尼泊尔</span></div></li>
                    <li><a href="/map/kings-row-thumb" target="_blank"><img src="/images/maps/kings-row-thumb.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">国王大道</span></div></li>
                    <li><a href="/map/numbani-thumb" target="_blank"><img src="/images/maps/numbani-thumb.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">努巴尼</span></div></li>
                    <li><a href="/map/hollywood-thumb" target="_blank"><img src="/images/maps/hollywood-thumb.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">好莱坞</span></div></li>
                </ul>
            </div>
            <div class="blogroll box">
                <div class="box-hd">
                    <h3 class="title">直播间</h3>
                </div>
                <ul>
                    <li><img src="/images/tv/tv_douyu_logo.png" alt="斗鱼" /></li>
                    <li><img src="/images/tv/tv_huya_logo.png" alt="熊猫" /></li>
                    <li><img src="/images/tv/tv_longzhu_logo.png" alt="龙珠" /></li>
                    <li><img src="/images/tv/tv_xiongmao_logo.png" alt="战旗" /></li>
                    <li><img src="/images/tv/tv_zhanqi_logo.png" alt="熊猫" /></li>
                </ul>
            </div>
        </div>
        <div class="heros box">
            <div class="box-hd">
                <h3 class="title">英雄详解</h3>
                <div class="role">
                    <span class="role-tank" value="tank"></span>
                    <span class="role-defense" value="defense"></span>
                    <span class="role-offense" value="offense"></span>
                    <span class="role-support" value="support"></span>
                </div>
            </div>
            <ul>
                <li value="bastion" roleType="defense"><a href="/hero/bastion" target="_blank"><img src="/images/hero_icon/icon-bastion.png" alt="" /></a><div class="name">堡垒</div></li>
                <li value="lucio" roleType="support"><a href="/hero/lucio" target="_blank"><img src="/images/hero_icon/icon-lucio.png" alt="" /></a><div class="name">卢西奥</div></li>
                <li value="roadhog" roleType="tank"><a href="/hero/roadhog" target="_blank"><img src="/images/hero_icon/icon-roadhog.png" alt="" /></a><div class="name">路霸</div></li>
                <li value="winston" roleType="tank"><a href="/hero/winston" target="_blank"><img src="/images/hero_icon/icon-winston.png" alt="" /></a><div class="name">温瑟顿</div></li>
                <li value="dva" roleType="tank"><a href="/hero/dva" target="_blank"><img src="/images/hero_icon/icon-dva.png" alt="" /></a><div class="name">D.Va</div></li>
                <li value="mccree" roleType="offense"><a href="/hero/mccree" target="_blank"><img src="/images/hero_icon/icon-mccree.png" alt="" /></a><div class="name">麦克雷</div></li>
                <li value="76-hao" roleType="offense"><a href="/hero/76-hao" target="_blank"><img src="/images/hero_icon/icon-soldier-76.png" alt="" /></a><div class="name">76号</div></li>
                <li value="zarya" roleType="tank"><a href="/hero/zarya" target="_blank"><img src="/images/hero_icon/icon-zarya.png" alt="" /></a><div class="name">查莉娅</div></li>
                <li value="frost" roleType="defense"><a href="/hero/frost" target="_blank"><img src="/images/hero_icon/icon-frost.png" alt="" /></a><div class="name">小美</div></li>
                <li value="mercy" roleType="support"><a href="/hero/mercy" target="_blank"><img src="/images/hero_icon/icon-mercy.png" alt="" /></a><div class="name">天使</div></li>
                <li value="symmetra" roleType="support"><a href="/hero/symmetra" target="_blank"><img src="/images/hero_icon/icon-symmetra.png" alt="" /></a><div class="name">秩序之光</div></li>
                <li value="zenyatta" roleType="support"><a href="/hero/zenyatta" target="_blank"><img src="/images/hero_icon/icon-zenyatta.png" alt="" /></a><div class="name">禅娅塔</div></li>
                <li value="genji" roleType="offense"><a href="/hero/genji" target="_blank"><img src="/images/hero_icon/icon-genji.png" alt="" /></a><div class="name">源氏</div></li>
                <li value="pharah" roleType="offense"><a href="/hero/pharah" target="_blank"><img src="/images/hero_icon/icon-pharah.png" alt="" /></a><div class="name">法老之鹰</div></li>
                <li value="torbjorn" roleType="defense"><a href="/hero/torbjorn" target="_blank"><img src="/images/hero_icon/icon-torbjorn.png" alt="" /></a><div class="name">托比昂</div></li>
                <li value="hanzo" roleType="defense"><a href="/hero/hanzo" target="_blank"><img src="/images/hero_icon/icon-hanzo.png" alt="" /></a><div class="name">半藏</div></li>
                <li value="reaper" roleType="offense"><a href="/hero/reaper" target="_blank"><img src="/images/hero_icon/icon-reaper.png" alt="" /></a><div class="name">死神</div></li>
                <li value="tracer" roleType="offense"><a href="/hero/tracer" target="_blank"><img src="/images/hero_icon/icon-tracer.png" alt="" /></a><div class="name">猎空</div></li>
                <li value="junkrat" roleType="defense"><a href="/hero/junkrat" target="_blank"><img src="/images/hero_icon/icon-junkrat.png" alt="" /></a><div class="name">狂鼠</div></li>
                <li value="reinhardt" roleType="tank"><a href="/hero/reinhardt" target="_blank"><img src="/images/hero_icon/icon-reinhardt.png" alt="" /></a><div class="name">莱因哈特</div></li>
                <li value="widowmaker" roleType="defense"><a href="/hero/widowmaker" target="_blank"><img src="/images/hero_icon/icon-widowmaker.png" alt="" /></a><div class="name">黑百合</div></li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.role span').each(function () {
        $(this).click(function () {
            $('.role span.active').removeClass('active');
            $(this).addClass('active');
            var roleType = $(this).attr("value");
        });
    });
</script>
