<div class="content">
    <div class="material">
        <div class="left">
            <div class="maps">
                <div class="box-hd">
                    <h3 class="title">地图介绍（血包点)</h3>
                </div>
                <ul>
                    <li><a href="/mpas/dorado" target="_blank"><img src="/images/maps/dorado_01.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">多拉多</span></div></li>
                    <li><a href="/mpas/gibraltar" target="_blank"><img src="/images/maps/gibraltar_01.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">监测站</span></div></li>
                    <li><a href="/mpas/hanamura" target="_blank"><img src="/images/maps/hanamura_01.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">花村</span></div></li>
                    <li><a href="/mpas/hollywood" target="_blank"><img src="/images/maps/hollywood_01.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">好莱坞</span></div></li>
                    <li><a href="/mpas/kings-row" target="_blank"><img src="/images/maps/kings-row_01.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">国王大道</span></div></li>
                    <li><a href="/mpas/numbani" target="_blank"><img src="/images/maps/numbani_01.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">努巴尼</span></div></li>
                    <li><a href="/mpas/temple-of-anubis" target="_blank"><img src="/images/maps/temple-of-anubis_01.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">阿努比斯神殿</span></div></li>
                    <li><a href="/mpas/volskaya" target="_blank"><img src="/images/maps/volskaya_01.jpg" alt="" /></a><div class="intro"><span class="type"></span><span class="name">沃斯卡娅工业区</span></div></li>
                </ul>
            </div>
            <div class="blogroll">
                <div class="box-hd">
                    <h3 class="title">直播间</h3>
                </div>
                <ul>
                    <li><img src="/images/tv/douyu_logo.png" alt="斗鱼" /></li>
                    <li><img src="/images/tv/huya_logo.png" alt="熊猫" /></li>
                    <li><img src="/images/tv/longzhu_zhibo.png" alt="龙珠" /></li>
                    <li><img src="/images/tv/xiongmao_logo.png" alt="战旗" /></li>
                    <li><img src="/images/tv/zhanqi_logo.png" alt="熊猫" /></li>
                </ul>
            </div>
        </div>
        <div class="heros">
            <div class="box-hd">
                <h3 class="title">英雄详解</h3>
                <div class="role">
                    <span class="role-tank" value="tank"></span>
                    <span class="role-defense" value="defense"></span>
                    <span class="role-offense" value="offense"></span>
                    <span class="role-support" value="support"></span>
                </div>
            </div>
            <ul>
                <li value="bastion" roleType="defense"><a href="/heros/bastion" target="_blank"><img src="/images/hero_icon/icon-bastion.png" alt="" /></a><div class="name">堡垒</div></li>
                <li value="lucio" roleType="support"><a href="/heros/lucio" target="_blank"><img src="/images/hero_icon/icon-lucio.png" alt="" /></a><div class="name">卢西奥</div></li>
                <li value="roadhog" roleType="tank"><a href="/heros/roadhog" target="_blank"><img src="/images/hero_icon/icon-roadhog.png" alt="" /></a><div class="name">路霸</div></li>
                <li value="winston" roleType="tank"><a href="/heros/winston" target="_blank"><img src="/images/hero_icon/icon-winston.png" alt="" /></a><div class="name">温瑟顿</div></li>
                <li value="dva" roleType="tank"><a href="/heros/dva" target="_blank"><img src="/images/hero_icon/icon-dva.png" alt="" /></a><div class="name">D.Va</div></li>
                <li value="mccree" roleType="offense"><a href="/heros/mccree" target="_blank"><img src="/images/hero_icon/icon-mccree.png" alt="" /></a><div class="name">麦克雷</div></li>
                <li value="76-hao" roleType="offense"><a href="/heros/76-hao" target="_blank"><img src="/images/hero_icon/icon-soldier-76.png" alt="" /></a><div class="name">76号</div></li>
                <li value="zarya" roleType="tank"><a href="/heros/zarya" target="_blank"><img src="/images/hero_icon/icon-zarya.png" alt="" /></a><div class="name">查莉娅</div></li>
                <li value="frost" roleType="defense"><a href="/heros/frost" target="_blank"><img src="/images/hero_icon/icon-frost.png" alt="" /></a><div class="name">小美</div></li>
                <li value="mercy" roleType="support"><a href="/heros/mercy" target="_blank"><img src="/images/hero_icon/icon-mercy.png" alt="" /></a><div class="name">天使</div></li>
                <li value="symmetra" roleType="support"><a href="/heros/symmetra" target="_blank"><img src="/images/hero_icon/icon-symmetra.png" alt="" /></a><div class="name">秩序之光</div></li>
                <li value="zenyatta" roleType="support"><a href="/heros/zenyatta" target="_blank"><img src="/images/hero_icon/icon-zenyatta.png" alt="" /></a><div class="name">禅娅塔</div></li>
                <li value="genji" roleType="offense"><a href="/heros/genji" target="_blank"><img src="/images/hero_icon/icon-genji.png" alt="" /></a><div class="name">源氏</div></li>
                <li value="pharah" roleType="offense"><a href="/heros/pharah" target="_blank"><img src="/images/hero_icon/icon-pharah.png" alt="" /></a><div class="name">法老之鹰</div></li>
                <li value="torbjorn" roleType="defense"><a href="/heros/torbjorn" target="_blank"><img src="/images/hero_icon/icon-torbjorn.png" alt="" /></a><div class="name">托比昂</div></li>
                <li value="hanzo" roleType="defense"><a href="/heros/hanzo" target="_blank"><img src="/images/hero_icon/icon-hanzo.png" alt="" /></a><div class="name">半藏</div></li>
                <li value="reaper" roleType="offense"><a href="/heros/reaper" target="_blank"><img src="/images/hero_icon/icon-reaper.png" alt="" /></a><div class="name">死神</div></li>
                <li value="tracer" roleType="offense"><a href="/heros/tracer" target="_blank"><img src="/images/hero_icon/icon-tracer.png" alt="" /></a><div class="name">猎空</div></li>
                <li value="junkrat" roleType="defense"><a href="/heros/junkrat" target="_blank"><img src="/images/hero_icon/icon-junkrat.png" alt="" /></a><div class="name">狂鼠</div></li>
                <li value="reinhardt" roleType="tank"><a href="/heros/reinhardt" target="_blank"><img src="/images/hero_icon/icon-reinhardt.png" alt="" /></a><div class="name">莱因哈特</div></li>
                <li value="widowmaker" roleType="defense"><a href="/heros/widowmaker" target="_blank"><img src="/images/hero_icon/icon-widowmaker.png" alt="" /></a><div class="name">黑百合</div></li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.role span').each(function () {
        $(this).click(function () {
            $('.role span.active').removeClass('active');
            $(this).addClass('active');
            var roleType = $(this).attr("value");
        });
    });
</script>
