<div class="content">
    <div class="material">
        <div class="maps">
            <div class="box-hd">
                <h3 class="title">地图介绍（血包点)</h3>
            </div>

            <ul>
                <li><img src="/images/maps/dorado_01.jpg" alt="" /></li>
                <li><img src="/images/maps/gibraltar_01.jpg" alt="" /></li>
                <li><img src="/images/maps/dorado_01.jpg" alt="" /></li>
                <li><img src="/images/maps/hanamura_01.jpg" alt="" /></li>
                <li><img src="/images/maps/hollywood_01.jpg" alt="" /></li>
                <li><img src="/images/maps/kings-row_01.jpg" alt="" /></li>
                <li><img src="/images/maps/numbani_01.jpg" alt="" /></li>
                <li><img src="/images/maps/temple-of-anubis_01.jpg" alt="" /></li>
                <li><img src="/images/maps/volskaya_01.jpg" alt="" /></li>
            </ul>
        </div>
        <div class="heros">
            <div class="box-hd">
                <h3 class="title">英雄详解</h3>
                <div class="role">
                    <span class="role-tank" value="tank"></span>
                    <span class="role-defense" value="defense"></span>
                    <span class="role-offense" value="offense"></span>
                    <span class="role-support" value="support"></span>
                </div>
            </div>
            <ul>
                <li value="bastion" roleType="defense"><img src="/images/hero_icon/icon-bastion.png" alt="" /><div class="name">堡垒</div></li>
                <li value="lucio" roleType="support"><img src="/images/hero_icon/icon-lucio.png" alt="" /><div class="name">卢西奥</div></li>
                <li value="roadhog" roleType="tank"><img src="/images/hero_icon/icon-roadhog.png" alt="" /><div class="name">路霸</div></li>
                <li value="winston" roleType="tank"><img src="/images/hero_icon/icon-winston.png" alt="" /><div class="name">温瑟顿</div></li>
                <li value="dva" roleType="tank"><img src="/images/hero_icon/icon-dva.png" alt="" /><div class="name">D.Va</div></li>
                <li value="mccree" roleType="offense"><img src="/images/hero_icon/icon-mccree.png" alt="" /><div class="name">麦克雷</div></li>
                <li value="76-hao" roleType="offense"><img src="/images/hero_icon/icon-soldier-76.png" alt="" /><div class="name">76号</div></li>
                <li value="zarya" roleType="tank"><img src="/images/hero_icon/icon-zarya.png" alt="" /><div class="name">查莉娅</div></li>
                <li value="frost" roleType="defense"><img src="/images/hero_icon/icon-frost.png" alt="" /><div class="name">小美</div></li>
                <li value="mercy" roleType="support"><img src="/images/hero_icon/icon-mercy.png" alt="" /><div class="name">天使</div></li>
                <li value="symmetra" roleType="support"><img src="/images/hero_icon/icon-symmetra.png" alt="" /><div class="name">秩序之光</div></li>
                <li value="zenyatta" roleType="support"><img src="/images/hero_icon/icon-zenyatta.png" alt="" /><div class="name">禅娅塔</div></li>
                <li value="genji" roleType="offense"><img src="/images/hero_icon/icon-genji.png" alt="" /><div class="name">源氏</div></li>
                <li value="pharah" roleType="offense"><img src="/images/hero_icon/icon-pharah.png" alt="" /><div class="name">法老之鹰</div></li>
                <li value="torbjorn" roleType="defense"><img src="/images/hero_icon/icon-torbjorn.png" alt="" /><div class="name">托比昂</div></li>
                <li value="hanzo" roleType="defense"><img src="/images/hero_icon/icon-hanzo.png" alt="" /><div class="name">半藏</div></li>
                <li value="reaper" roleType="offense"><img src="/images/hero_icon/icon-reaper.png" alt="" /><div class="name">死神</div></li>
                <li value="tracer" roleType="offense"><img src="/images/hero_icon/icon-tracer.png" alt="" /><div class="name">猎空</div></li>
                <li value="junkrat" roleType="defense"><img src="/images/hero_icon/icon-junkrat.png" alt="" /><div class="name">狂鼠</div></li>
                <li value="reinhardt" roleType="tank"><img src="/images/hero_icon/icon-reinhardt.png" alt="" /><div class="name">莱因哈特</div></li>
                <li value="widowmaker" roleType="defense"><img src="/images/hero_icon/icon-widowmaker.png" alt="" /><div class="name">黑百合</div></li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.role span').each(function () {
        $(this).click(function () {
            $('.role span.active').removeClass('active');
            $(this).addClass('active');
            var roleType = $(this).attr("value");
        });
    });
</script>
