<style media="screen">

    .top img {
        height: 503px;
        opacity: 0.45;
    }

    .map-body {
        position: relative;
    }
    .map-intro {
        height: 215px;
        padding: 20px;
    }
    .map-intro .loading-map,
    .map-intro .intro {
        display: inline-block;
        position: relative;
        height: 100%;

        overflow: hidden;
    }

    .map-intro .loading-map {
        margin-right: 20px;
        padding-right: 20px;
    }

    .map-intro .loading-map::after {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -70px;
        content: "";
        width: 2px;
        height: 140px;
        background-color: #3a6ecc;
    }

    .map-intro .intro {
        padding-left: 0px;
        margin-left: 0px;
        width: 825px;
    }

    .map-intro .intro .country {
        margin-bottom: 5px;
        height: 25px;
    }

    .map-intro .intro .country img {
        height: 100%;
    }

    .map-intro .intro .country span {
        display: inline-block;
        position: relative;
        top: -5px;
        font-size: 20px;
    }

    .map-intro .text {
        line-height: 25px;
        display: inline-block;
    }

    .map-intro .text .origin {
        font-weight: bolder;
        color: #3A6ECC;
    }

    .map-intro .main {
        width: 100%;
    }

    .map-content .item {
        margin-bottom: 20px;
    }
    .map-content .text {
        text-indent: 30px;
        line-height: 25px;
    }

    .med-position {
        text-align: center;
        width: 100%;
    }

    .med-position img {
        width: 800px;
    }
</style>
<div class="map-body">

    <div class="box map-intro">
        <div class="loading-map">
            <img src="/images/maps/temple-of-anubis-thumb.jpg" alt="" />
        </div>
        <div class="intro">
            <div class="country">
                <img src="/images/maps/country/Flag_Egypt_ux.jpg" alt="" />
                <span>&nbsp阿努比斯神殿: </span>
            </div>
            <div class="text">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp是《守望先锋》在2014年暴雪嘉年华上公布的一张游戏地图，未来科技与埃及古文明的碰撞。
                <br>
                <div class="origin">地图渊源 :</div>
                阿努比斯是埃及神话中一位与木乃伊制作与死后生活有关的胡狼头神。在欧西里斯神话中，赛特杀害欧西里斯之后，将欧西里斯的器官送给了阿努比斯当礼物。由于这些有这些关联，阿努比斯变成了防腐员的守护神。根据死者之书中的绘图，在木乃伊制作的葬礼仪式期间祭司常会带着胡狼面具支撑著直立的木乃伊。
            </div>
        </div>
    </div>

    <div class="box map-content">
        <div class="item">
            <div class="box-hd">
                <div class="title">
                    地图机制
                </div>
            </div>
            <br>
            <div class="text">
                佔領: 攻擊方展開戰鬥佔領一連串目標；防守方阻止對方，直到時間結束。
            </div>
        </div>
        <div class="item">
            <div class="box-hd">
                <div class="title">
                    血包位置
                </div>
            </div>
            <br>
            <div class="med-position">
                <img src="/images/maps/459_564cbb1d9b47b.jpg" alt="" />
            </div>
        </div>
    </div>
</div>
